@import 'content.css';
@import 'base.css';
@import 'tailwind.css';
@import 'vlg.css';
@import 'table.css';
@import 'ck-table-reset.css';
@import 'tablecolumnresize.css';


@font-face {
    font-family: 'georgia'; 
    src: url('../fonts/georgia.ttf');
}
@font-face {
    font-family: 'Poppins light'; 
    src: url('../fonts/Poppins-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Poppins extra light'; 
    src: url('../fonts/Poppins-ExtraLight.ttf');
    font-weight: 200;
}
@font-face {
    font-family: 'Poppins'; 
    src: url('../fonts/Poppins-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Poppins medium'; 
    src: url('../fonts/Poppins-Medium.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Poppins bold'; 
    src: url('../fonts/Poppins-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Poppins black'; 
    src: url('../fonts/Poppins-Black.ttf');
    font-weight: 900;
}
